.sns-linker-wrap input{
    width: 100%;
}

.sns-linker-wrap button{
    padding-block: .25rem;
    padding-inline: 1rem;
    background-color: deepskyblue;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

.sns-linker-wrap button:hover{
    background-color: rgb(8, 144, 189);
}